@media screen and (max-width : 1158px){
    .nav{
        flex-direction: column;
    }

    .form-input{
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .nav-left{
        text-align: center;
        flex-direction: column;
    }

    .content-right{
        display: none;
    }

    .home-article{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer{
        font-size: small;
    }

    .form-res{
        height: 950px;
    }

    .row{
        flex-direction: column;
    }

    .social-media{
        padding: 0;
    }

    .blog-image {
        height: auto;
    }
}

@media screen and (max-width : 325px){
    .form-input{
        width: 50%;
    }
}